
body{
    background-image: url('./images/pexelsphoto3828366.jpeg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
 
}

.container{
    position: relative;
}

nav{
    display: flex;
    width: 100%;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.278);
    height: 70px;
    top: 0;
    margin: 0;
    position: sticky;

}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: white ;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;

}

#fa-solid{
    color: orange;
}

.title{
    margin-left: 8%;
}

h1{
    color: orange;
    text-align: center;
    font-weight: 500;
}

.title span{
    color: white;
    font-size: 100px;
}

#head{
    color: orange;
    font-size: 100px;
    margin-top: -40px;
}


p{
    color: white;
    line-height: 25px;
   text-align: center;
   
}


html{
    scroll-behavior: smooth;
}



.title a{
    background-color: orange;
    padding: 10px 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 30px 0;
    border-radius: 5px;
    display: inline-block;
    margin-left: 600px;
    
}



#menu{
    margin-left: 8%;
    margin-top: 15%;
    margin-right: 8%;
    text-align: center;
    display: inline-block;
}



.heading{
    text-align: center;
  margin-top: 200px;
 
  
  
}

.heading h2{
    font-size: 50px;
    color: white;
   text-align: center;
  
  
}

.heading span{
    font-size: 30px;
    color: orange;
    text-align: center;
    
  
   
}

h3{
    color: orange;
    display: inline-block;
    margin-top: 250px;
    margin-right: 60px;
   
}

.menu-img{
    display: flex;
    justify-content: center;
   
}

.menu-a h3{
    margin: 10px;

}


.menu-img img{
    width: 200px;
    height: 200px;
    margin: 5px;
  
}

#place{
    text-align: center;
    justify-content: center;
}

.place-img{
    display: flex;
    justify-content: center;
    text-align: center; 
}
.place-a h3{
    margin: 10%;


}
.place-img img{
    width: 200px;
    height: 200px;
    margin: 5px
    
}

.iconDiv{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: rgb(213, 205, 220);
    margin: 0 10px;
    
}
.icon:hover{
background-color: black;
}

.icon i{
    font-size: 20px;
    color: black;
    
}

.icon i:hover{
    color: white;
}

footer{
    margin-top: 2rem;
    font-weight: bolder;
}

@media(max-width:700px)

{

    h1{
       
        text-align: center;
        font-weight: 500;
        margin-left: -40px;
    }
    
    .title span{
        
        font-size: 70px;
        margin-left: -10px;
    }
    
    #head{
        color: orange;
        font-size: 70px;
        margin-top: -40px;
        margin-left: -35px;
    }
    
    
    p{
        color: white;
        line-height: 25px;
       text-align: center;
       margin-left: -40px;
       
    }
    .heading{
        margin-left: -10px;
    }
    .menu-img{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       margin-left: -10px;
       
    }
    .place-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    


}






